tensorflow
flask
instagrapi
pillow
pandas
numpy
matplotlib
seaborn
nltk
scikit-learn
transformers
torch
pickle
langdetect
simpletransformers==0.41
amp
sys
pathlib
instagrapi
requests
os
random
yt_dlp
moviepy
multiprocessing

tener descargadas las stopwords de nltk en ingles

